<% content_for :title do %>Feedback<% end %>

<h1>Let me know what you think!</h1>

<% unless user_signed_in? %>
<p>
  Your email address is required, but I'll only use it to contact you
  about this message; I'll never sell or give it to anyone else.
</p>
<% end %>

<%= bootstrap_form_for(@question) do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="form-inputs">
    <%= f.text_field :name,
                     label: "Your name",
                     readonly: user_signed_in? %>
    <%= f.email_field :email,
                      label: "Your email address",
                      readonly: user_signed_in? %>
    <%= f.text_area :question,
                    label: "Your comments, suggestions, requests, or complaints",
                    rows: 10 %>
  </div>

  <div class="form-actions well">
    <%= f.submit 'Send' %>
    Thank you!
  </div>
<% end %>
