<% tag ||= :li %>
<% show_actions ||= nil %>
<% cache ['screening', screening, tag, show_actions] do %>
  <%= content_tag_for(tag, screening) do %>
    <%= screening_times(screening, with_date: true) %>:
    <%= screening.venue_name %>
    <%= '(press)' if screening.press? %>
    <% if show_actions %>
      <div class="actions<%= my_schedule_hidden_on_phone %>">
        <%= ajax_progress(screening) %>
        <a id="<%= dom_id(screening) %>_toggle" class="btn btn-xs btn-default"></a>
      </div>
    <% end %>
  <% end %>
<% end %>
