<h1>Listing screenings</h1>

<table>
  <tr>
    <th>Festival</th>
    <th>Film</th>
    <th>Venue</th>
    <th>Location</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Press</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screenings.each do |screening| %>
  <tr>
    <td><%= screening.festival %></td>
    <td><%= screening.film %></td>
    <td><%= screening.venue %></td>
    <td><%= screening.location %></td>
    <td><%= screening.starts_at %></td>
    <td><%= screening.ends_at %></td>
    <td><%= screening.press %></td>
    <td><%= link_to 'Show', screening %></td>
    <td><%= link_to 'Edit', edit_screening_path(screening) %></td>
    <td><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screening', new_screening_path %>
