<% cache ['modal', @screening, @show_press] do %>
  <div class="modal-header">
    <%= pick_symbols(@film) %>
    <div class="title"><%= @film.name %></div>
    <p><%= film_details(@film) %></p>
  </div>
  <%= div_for(@film, class: 'modal-body screening unranked') do %>
    <%= render partial: @screening, locals: { tag: :div, show_actions: true } %>
    <% unless @other_screenings.empty? %>
      <h5><%= other_screenings_caption(@screening.starts_at, @other_screenings) %></h5>
      <ul>
        <%= render @other_screenings %>
      </ul>
      <% if autoscheduler_debugging? && @autoscheduler %>
        <p><%= @autoscheduler.costs[@screening].inspect %></p>
      <% end %>
    <% end %>
  <% end %>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-small btn-primary">Done</button>
  </div>
<% end %>
