<%= content_tag_for(:li, location) do %>
  <h2>
    <%= location.name %>
    <span class="actions">
      <%= link_to 'Edit', edit_admin_location_path(location),
                  class: "btn btn-small" %>
      <%= link_to 'New Venue', new_admin_location_venue_path(location),
                  class: "btn btn-small" %>
    </span>
  </h2>

  <ul>
    <%= render location.venues %>
  </ul>
<% end %>
