<% content_for :title do %>Sign up<% end %>
<h2>Sign up</h2>

<%= bootstrap_form_for(resource, :as => resource_name,
                       :url => registration_path(resource_name)) do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="form-inputs">
    <%= f.email_field :email, :required => true, :autofocus => true %>
    <%= f.text_field :name, :required => true %>

    <%= f.password_field :password, :required => true, class: 'js-password' %>
    <%= f.password_field :password_confirmation, :required => true, class: 'js-confirmation' %>
  </div>

  <div class="form-actions well">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
