<%= simple_form_for([:admin, @festival]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true %>
    <%= f.input :slug_group %>
    <%= f.input :place %>
    <%= f.input :starts_on %>
    <%= f.input :ends_on %>
    <%= f.input :main_url, label: 'Main URL' %>
    <%= f.input :updates_url, label: 'Updates URL' %>
    <%= f.input :published, hint: 'Include festival in the public list' %>
    <%= f.input :scheduled, hint: 'Show as "Coming soon" unless checked' %>
    <%= f.association :locations, as: :check_boxes %>
    <%= f.input :revised_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_link([:admin, @festival]) %>
    <%= destroy_button([:admin, @festival]) %>
  </div>
<% end %>
