
<h1>Admin stuff</h1>

<ul>
  <li><%= link_to "Festivals", festivals_path %></li>
  <li><%= link_to "Locations", admin_locations_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
</ul>

<h3>Flags</h3>
<table id="enabled_flags">
  <% %w[site sign_in sign_up].each do |flag| %>
    <tr>
      <td><%= flag.to_s.titleize %></td>
      <td><%= form_for_flag(flag) %></td>
    </tr>
  <% end %>
</table>
