<% content_for :title do %>Help<% end %>
<h3>Help</h3>

<p>
  Got a question that isn't answered here? Ask me using the
  <%= link_to "Feedback Page", feedback_path %>, and I'll
  get you an answer; maybe I'll add it here!
</p>

<ul>
  <li>
    <h4>What's this all about?</h4>
    <p><%= link_to "Festival Fanatic", "http://festivalfanatic.com" %>
      seeks to improve the film festival experience for serious film fans.</p>

    <p>Film festival attendees usually have just a few screening opportunities
      to see each film, so the Scheduling Assistant can help you see
      more of the films you really want to see.</p>

    <p>As time goes on, I'll add features for coordinating your schedule with
      your friends', and for discussing the films you've seen with others. I'd
      also like to work more closely with festival organizers to promote community
      among attendees.</p>
  </li>

  <li>
    <h4>How do I use this thing?</h4>
    <p>First, sign up, so I'll know who you are when you come back to the site.</p>
    <p>Then, pick a festival, either with the big green button on the home page,
      or from the Festivals page. This will take you to "Your Film Priorities"
      for that festival.</p>
    <p>(This next part is easier if you've got the paper schedule for
      the festival; alternatively, you can open the festival's own
      website in another browser window.) For each of the films in the festival,
      decide how interested you are in seeing that film: you've got five
      choices, from "I don't want to see this" to "I *really* want to see this".
      Enter each choice on that Film Priorities page.</p>
    <p>When you're done prioritizing the films, click the "Scheduling
      Assistant" tab. Here's where you guide the assistant: you can specify
      times when you can't attend the festival, or distant theaters you find
      inconvenient. Then, click "Schedule Films" - your priorities will be used
      to select screenings of as many of the films you prioritized as possible.
    </p>
    <p>
      After your schedule's been generated (it takes a moment), you'll see
      "Your Festival Schedule": your schedule for each day, with the selected
      screenings color-coded.
    <p>You can see more information about a film by clicking it; you'll see
      more details about that film and its other screenings, and you can
      make manual changes your scheduling: if you're scheduled to see the
      screening you've clicked on, there'll be an "Unschedule" button that'll
      unschedule it for you. If it's a screening you're not scheduled to attend,
      you can click a "Schedule" button to schedule it; if you were already
      scheduled to see that film at some other time, the other screening will
      be deselected for you (because why see it twice?), as will any screenings
      at the same time as the one you clicked on (because you can't be in two
      places at once).</p>
    <p>As the festival proceeds, as you hear good or bad things from your
      friends, you can revise your priorities, then ask the Scheduling Assistant
      to rebuild the rest of your schedule; it'll leave alone everything you've
      already seen.</p>
    <p>You can also use the Priorities page to enter ratings for the films
      you've seen; and there's a page you can share with friends that shows
      them which movies you've liked the most.</p>
  </li>

  <li>
    <h4>How does the automatic scheduling really work?</h4>
    <p>In computer science, there's this thing called the "traveling salesman
      problem": given a salesman who wants to visit a bunch of cities, how can
      you determine an optimal route? It turns out that this problem is really
      hard, and the problem of finding an optimal schedule for seeing preferred
      movies at a film festival is just as hard.</p>
    <p>So, this site takes the easy way out, and doesn't try to solve the
      problem perfectly; it just tries to do a pretty good job: the site makes
      a list of the films you've ranked, but haven't picked screenings for; it
      sorts this list
      by a combination of your ranking and the number of remaining screenings
      (the fewer remaining, the higher in the list the film goes), then tries to
      assign screenings in that order, without ever letting two assigned screenings
      overlap &mdash; it even takes travel and parking time into account.</p>
    <p>There are probably better strategies, but this one seems to work pretty
      well.</p>
  </li>

  <li>
    <h4>How are travel and parking time taken into account?</h4>
    <p>To help ensure that you can make it to your next screening, a few rules
      are used:
      <ul>
        <li>
          For screenings in the same location, you've got at least 10 minutes
          between them, because of the Portland International Film Festival's
          "10 minute rule."
        </li>
        <li>
          If walking is quicker than driving and parking (like most of
          Portland's downtown theaters), we use Google's estimate of walking
          time (plus a 10% bonus) plus 10 minutes. If that works out to be less
          than 15 minutes, we round up to 15 minutes.
        </li>
        <li>
          Otherwise, you get Google's estimate of driving time (plus a 25%
          bonus), plus the parking allowance, plus 10 minutes.
        </li>
      </ul>
    </p>
    <p>
      Google's estimates are as of a Wednesday at 6pm, so some rush-hour
      traffic is factored in. However, this isn't an exact science, so it's
      a good idea to look over your schedule in advance to make sure it gave
      you enough time. If you see a particularly tight connection, please
      let me know.
    </p>
  </li>

  <li>
    <h4>Do you share my information?</h4>
    <p>First, I'm not going to share your email address with anyone, or send you
      excessive email; I'll only use it to contact you about the site, and I'll try to
      notify you if the festival announces a screening change that affects your
      schedule. If you think I'm sending you too much mail, please do tell me!
    </p>
    <p>
      As far as screening choices and ratings: I've always intended to share
      anonymized summaries of priorities and ratings with film festival
      organizers, other filmgoers & filmmakers, and here on the site; I've yet
      to do this, but I might in the future.
    </p>
    <p>
      Eventually, I want to add ways for you to contribute comments, links,
      and background information (what I call "buzz") to films. These details will
      be public and visible to other users, and attributed to you, but you'll
      definitely have to choose to participate in advance. (I've been planning
      this for a while and haven't gotten around to building it, so it's not
      likely to happen in the next six months.)
    </p>
  </li>

  <li>
    <h4>Can I add my own favorite festival?</h4>
    <p>Not by yourself, just yet. In the meantime, drop
      me a line on the <%= link_to "Feedback Page", feedback_path %> if you attend
      a festival that you'd like to be able to schedule here.</p>
  </li>

  <li>
    <h4>What other features are you working on?</h4>
    <p>I'm most excited about the "buzz" features I mentioned above, but the list
      also includes (in no particular order) better printed formatting, and better
      features for smartphone users. Again, if you can think of something to add,
      <%= link_to "I'd love to hear about it", feedback_path %>.
    </p>
    <p>There's a log of recent changes to the site on this
      <%= link_to "Changes page", changes_path %>, if you're curious what I've
      been working on lately.
    </p>
  </li>

  <li>
    <h4>Where'd you get the nifty icons?</h4>

    <p>Many of of the icons I use (like <%= image_tag("fam3silk/information.png", height: 16, width: 16) %>,
      though not the little flags) come from web developer Mark James, who asks
      only that I
      <%= link_to "link to his site", "http://www.famfamfam.com/lab/icons/silk/" %>
      to use them - done, and thanks, Mark!
    </p>
  </li>

  <li>
    <div id="me">
      <h4>Who created this, and why?</h4>
      <%= image_tag "bryanstearns.png", id: 'headshot' %>
      <p>I'm Bryan Stearns, a web software developer based in Portland, Oregon.</p>
      <p>I created Festival Fanatic to get more out of the festivals that I attend, and to help my friends as well.
        (It's been very successful by this measure &mdash; I've met a lot of great people as a result of this site!)
      </p>
    </div>
  </li>

</ul>
