<% show_user ||= true %>
<table>
  <tr>
    <th>When</th>
    <%= content_tag(:th, 'User') if show_user %>
    <th>Name</th>
    <th>Details</th>
  </tr>

  <% @activity.each do |activity| %>
    <tr>
      <td><%= activity.created_at %></td>
      <%= content_tag(:td, link_to(@user.email, @user)) if @show_user %>
      <td><%= activity.name %></td>
      <td>
        <%= activity_details(activity) %>
      </td>
    </tr>
  <% end %>
</table>
