<%= simple_form_for([:admin, @location, @venue]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :abbreviation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_link(admin_locations_path) %>
    <%= destroy_button([:admin, @venue]) %>
  </div>
<% end %>
