<%= bootstrap_form_for([:admin, @location, @venue]) do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="form-inputs">
    <%= f.text_field :name %>
    <%= f.text_field :abbreviation %>
  </div>

  <div class="form-actions well">
    <%= f.submit %>
    <%= cancel_link(admin_locations_path) %>
    <%= destroy_button([:admin, @venue]) %>
  </div>
<% end %>
