<%= link_to 'Edit', edit_film_path(@film), class: 'btn btn-small extra-action' %>
<h1><%= @film.name %></h1>

<table class="table table-condensed">
  <tbody>
    <tr>
      <td>Duration</td>
      <td><%= @film.duration%> minutes</td>
    </tr>
    <tr>
      <td>Countries</td>
      <td><%= @film.countries %></td>
    </tr>
    <tr>
      <td>Page</td>
      <td><%= @film.page %></td>
    </tr>
    <tr>
      <td>URL Fragment</td>
      <td><%= @film.url_fragment %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @film.description %></td>
    </tr>
  </tbody>
</table>
