<%= bootstrap_form_for(@film.new_record? ? [:admin, @festival, @film] \
                                         : [:admin, @film]) do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="form-inputs">
    <%= f.text_field :name, autofocus: true %>
    <%= f.text_field :sort_name %>
    <%= f.text_field :short_name %>
    <%= f.text_field :countries, label: 'Countries (lowercase two-letter codes, like "ar es")' %>
    <%= f.text_field :duration_minutes, label: 'Duration (minutes)' %>
    <%= f.text_field :page, label: 'Page (use fractions to note order on page: 8.1, 8.2, 8.3...)' %>
    <%= f.text_field :url_fragment, label: 'URL Fragment' %>
    <%= f.text_area :description, input_html: { rows: 4 } %>
  </div>

  <div class="form-actions well">
    <%= f.submit %>
    <%= cancel_link(admin_festival_films_path(@festival)) %>
    <%= destroy_button([:admin, @film]) %>
  </div>
<% end %>
