<%= simple_form_for(@film.new_record? ? [:admin, @festival, @film] \
                                      : [:admin, @film]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :sort_name %>
    <%= f.input :short_name %>
    <%= f.input :duration_minutes, label: 'Duration' %>
    <%= f.input :countries %>
    <%= f.input :page %>
    <%= f.input :url_fragment, label: 'URL Fragment' %>
    <%= f.input :description, input_html: { rows: 4 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_link(admin_festival_films_path(@festival)) %>
    <%= destroy_button([:admin, @film]) %>
  </div>
<% end %>
