<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= question_mail_to(@question) %>
</p>

<p>
  <b>Question:</b>
  <pre><%= @question.question %></pre>
</p>

<p>
  <b>Acknowledged:</b>
  <%= @question.acknowledged %>
</p>

<p>
  <b>Done:</b>
  <%= @question.done %>
</p>


<%= link_to 'Edit', edit_admin_question_path(@question) %>
