<% content_for :title do %>Assistant: <%= @festival.name %><% end %>
<%= show_hide_instructions_button %>
<h3>Almost there: I'll create a schedule for you</h3>

<% hidable_instructions do %>
  This is the good part: I'll try to build you a schedule that includes as
  many of your higher-priority films as possible. You can customize this
  process: if there are times you can't attend the festival, or venues you
  don't want to travel to, enter them below. When you're done, click the
  "Schedule Films!" button, and I'll create a schedule just for you.
<% end %>

<%= bootstrap_form_for(@subscription, url: festival_subscription_path(@festival),
                       method: :put) do |f| %>
  <%= f.alert_message "Please fix the errors below.", error_summary: false %>

  <div class="form-inputs">
    <ul>
      <li>
        Are there times you can't attend this festival? Enter them here
        and I won't schedule any screenings for these times (though I'll still
        show them on the schedule, and you can still pick them manually); use
        dates and time ranges with punctuation like this:<br/>
        <i>2/5, 2/6 -10am, 2/8 11:30am-2pm & 8pm-10pm</i>
        <%= f.text_field :restriction_text, :label => '&nbsp;'.html_safe %>
      </li>

      <% if @festival.locations.any? %>
        <li class="locations">
          <p>
            What locations should I include? As a Festival Fanatic, you'll
            probably go to all of them, but if any are too inconvenient for you,
            just uncheck them here: I won't schedule any screenings at those
            theaters (though I'll still show them on the schedule, and you can
            still pick them manually).
          </p>
          <%= f.errors_on :excluded_location_ids %>
          <div>
            <%= f.collection_check_boxes(:included_location_ids,
                                         @festival.locations.sort_by(&:name),
                                         :id, :name,
                                         label: 'hidden by css',
                                         selected: @subscription.included_location_ids,
                                         multiple: true) %>
          </div>
        </li>
      <% end -%>

      <% if @festival.has_press? %>
        <li>
          <p>
            Will you be attending any of the press screenings? I won't show them
            on your schedule unless you check this box.
          </p>
          <div>
            <%= check_box 'subscription', :show_press %>
            <%= label 'subscription', :show_press, 'Show the press screenings',
                      class: 'box' %>
          </div>
        </li>
      <% end %>

      <% if user_signed_in? && @user_picks.any?(&:screening_id) %>
        <li>
          <p>You've got some screenings selected already; what should I do with them?</p>
          <%= unselect_menu(f, @user_picks) %>
        </li>
      <% end %>

      <% if autoscheduler_debugging? %>
        <li>
          <p>Debugging: Limit the screenings I schedule?</p>
          <div>
            <%= debug_menu %>
          </div>
        </li>
        <li>
          <p>Debugging: Should I stop before scheduling a particular screening?</p>
          <%= f.text_field :up_to_screening_id, label: "Stop at screening ID" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="form-actions well">
    <%= f.submit 'Schedule Films!', 'data-handler' => 'ButtonProgress' %>
    <span class="ajax-progress obscured"></span>
    <span class="obscured"> Be patient... this can take a minute!</span>
  </div>
<% end %>
