<h3>Almost there: I'll create a schedule for you</h3>

<%= simple_form_for([@festival, @subscription]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :show_press, label: "Show press screenings?" %>
    <%= unselect_menu if @user_has_screenings %>
  </div>

  <% if autoscheduler_debugging? %>
    <div class="form-inputs">
      <%= f.input :up_to_screening_id, label: "Stop at screening ID" %>
      <%= debug_menu %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
