<% content_for :title do %>Assistant: <%= @festival.name %><% end %>
<%= show_hide_instructions_button %>
<h3>Almost there: I'll create a schedule for you</h3>

<% hidable_instructions do %>
  This is the good part: I'll try to build you a schedule that includes as
  many of your higher-priority films as possible. You can customize this
  process: if there are times you can't attend the festival, or venues you
  don't want to travel to, enter them below. When you're done, click the
  "Schedule Films!" button, and I'll create a schedule just for you.
<% end %>

<%= simple_form_for(@subscription, url: festival_subscription_path(@festival),
                    method: :put) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <ul>
      <li>
        Are there times you can't attend this festival? Enter them here
        and I won't schedule any screenings for these times (though I'll still
        show them on the schedule, and you can still pick them manually).
        <p>
          This feature is kind of finicky: use dates and time ranges with
          punctuation like this:<br/>
          <i>2/5, 2/6 -10am, 2/8 11:30am-2pm & 8pm-10pm</i>
        </p>
        <%= f.error :excluded_location_ids %>
        <p><%= f.text_field :restriction_text, :size => 80 %></p>
      </li>

      <% if @festival.locations.any? %>
        <li class="locations">
          <p>
            What locations should we include? As a Festival Fanatic, you'll
            probably go to all of them, but if any are too inconvenient for you,
            just uncheck them here: I won't schedule any screenings at those
            theaters (though I'll still show them on the schedule, and you can
            still pick them manually).</p>
          <%= f.error :excluded_location_ids %>
          <%= hidden_field_tag "subscription[included_location_ids][]", "",
                               :name => "subscription[included_location_ids][]" %>
          <% included_ids = @subscription.included_location_ids
             @festival.locations.sort_by {|l| l.name }.each do |location| -%>
            <div>
              <% id = location.id %>
              <%= check_box_tag "subscription[included_location_ids][#{id}]", id,
                                included_ids.include?(id),
                                :name => "subscription[included_location_ids][]" %>
              <%= label_tag "subscription_included_location_ids_#{id}", location.name,
                            class: 'box' %>
            </div>
          <% end -%>
        </li>
      <% end -%>

      <% if @festival.has_press? %>
        <li>
          <p>
            Will you be attending any of the press screenings? I won't show them
            on your schedule unless you check this box.
          </p>
          <div>
            <%= check_box 'subscription', :show_press %>
            <%= label 'subscription', :show_press, 'Show the press screenings',
                      class: 'box' %>
          </div>
        </li>
      <% end %>

      <% if @user_picks.any?(&:screening_id) %>
        <li>
          <p>You've got some screenings selected already; what should I do with them?</p>
          <%= f.input :unselect, as: :radio_buttons, collection: unselect_menu_choices(@user_picks) %>
        </li>
      <% end %>

      <% if autoscheduler_debugging? %>
        <li>
          <p>Debugging: Limit the screenings I schedule?</p>
          <div>
            <%= debug_menu %>
          </div>
        </li>
        <li>
          <p>Debugging: Should I stop before scheduling a particular screening?</p>
          <%= f.input :up_to_screening_id, label: "Stop at screening ID" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Schedule Films!', 'data-handler' => 'ButtonProgress' %>
    <span class="ajax-progress obscured"></span>
    <span class="obscured"> Be patient... this can take a minute!</span>
  </div>
<% end %>
