<% content_for :title do %>Sign in<% end %>
<h2>Sign in</h2>

<%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.text_field :email, required: false, autofocus: true, style: "width: 30em" %>
    <%= f.password_field :password, required: false, style: "width: 30em" %>
    <%= f.hidden_field :remember_me, value: true %>
    <%# f.check_box :remember_me if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions well">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<div>
  <%= render "devise/shared/links" %>
</div>
