<h2>Sign in</h2>

<p><span class="attention">Important Note:</span> If this is your first visit to Festival Fanatic since the start of
   2013, you'll need to reset your password: please click the "Forgot your
   password?" link below and you'll get an email that will allow you to
   reset it. (If you no longer have access to the email account you used to
   register here, send a note using the Feedback link above with your name
   and old & new email addresses, and I'll get you squared away quick!)</p>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.hidden_field :remember_me, value: true %>
    <%# f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
