<%= content_tag_for(:tr, film) do %>
  <td>
    <div id="<%= dom_id(film) %>_dots" class="dots"></div>
  </td>
  <td>
    <div id="<%= dom_id(film) %>_stars" class="stars"></div>
  </td>
  <td>
    <%= ajax_progress(id: "#{dom_id(film)}_progress") %>
  </td>
  <td>
    <%= pick_film_heading(film) %>
    <ul class="screenings">
      <%= render(partial: 'screenings/screening', collection: film.screenings) \
        || "(No scheduled screenings now.)" %>
    </ul>
  </td>
<% end %>
