<ul id="legend">
  <li class="scheduled">
    This is a screening you're attending.
  </li>
  <li class="otherscheduled">
    You're seeing a different screening of this film.
  </li>
  <li class="unscheduled">
    You wanted to see this film (by prioritizing it), but aren't scheduled
    to see it.
  </li>
  <li class="unranked">
    You're not planning on seeing this film (or didn't prioritize it yet).
  </li>
  <li>
    The priority (or rating) you gave each film is shown like
    <span class="unbreakable"><%= (image_tag("raty/face-b.png", height: 16, width: 16) * 3).html_safe %> (or
    <%= (image_tag("raty/star-on.png", height: 16, width: 16) * 3).html_safe %>).</span>
  </li>
</ul>

<p>
  Your festival schedule is below;

  click a screening to see more information about the film and its other showings,

  add an unselected screening to your schedule (I'll automatically unselect
  conflicting screenings and other screenings of that film),

  or to remove a selected screening from your schedule. Also:
</p>
<ul>
  <li>
    <p>
      You can always go back to the "Your Film Priorities" tab to adjust
    your priorities, then use the "Scheduling Assistant" to re-schedule
    the rest of the festival for you.
    </p>
  </li>
  <% if user_signed_in? %>
    <li><p>New for 2014: Your scheduled screenings will appear on your calendar
      if you subscribe with this iCalendar URL (which you shouldn't share!). You
      only ever need to do this once, and future festivals' screenings will appear
      automatically. (Copy this, don't click it - Google for 'subscribe to
      iCalendar with (your calendar program name)' for help, or ask me.)<br>
      <span id="calendar_url"><%= user_calendar_url(current_user,
                                                    current_user.calendar_token,
                                                    format: 'ics') %></span>
    </li>

    <% if current_user.has_ratings_for?(@festival) %>
      <li><p>You can share a list of your film ratings using this link (which you
        can post on Twitter or Facebook - anyone can access it):<br>
        <%= link_to(user_rating_url(current_user, @subscription.ratings_token),
                    user_rating_path(current_user, @subscription.ratings_token),
                    target: '_blank') %></p>
      </li>
    <% else %>
      <li>
        <p>
          Once you've rated some of the movies you've seen (back on the
          Priorities page), you'll see a link here to share a ratings page
          with your friends.
        </p>
      </li>
    <% end %>

    <li>
      <p>
        New for 2014: A smartphone will give you a compact, read-only view
        of your selected screenings -- narrow this window to see what it
        looks like. (Please let me know what you think of the new view!)
      </p>
    </li>
    <li>
      <p>
        You can <%= link_to "download a printable PDF",
                            festival_path(@festival, format: :pdf ) %>
        of this schedule, which you can print with
        <a href="http://get.adobe.com/reader/" target="_blank">Adobe Reader</a>.
      </p>
    </li>

    <% if current_user.has_screenings_for?(@festival) %>
      <li>
        <span>
          You can throw out your current schedule (but not your ratings or
          priorities) and start over:
          <%= button_to "Unselect all screenings",
                        reset_screenings_festival_url(@festival),
                        data: { confirm: "Are you sure you want to unschedule all your screenings?" },
                        class: 'btn btn-sm btn-default', id: 'reset-screenings' %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
