<%= div_for(viewing.screening, class: "unranked",
            style: "height: #{viewing.height}px; " +
                   "margin-top: #{viewing.space_before}px") do %>
  <a name="s<%= viewing.screening.id %>"></a>
  <%= pick_symbols(viewing.film) %>
  <div class="title">
    <%= viewing.name %><%= " (#{viewing.screening.id})" if autoscheduler_debugging? %>
    <span class="flags"><%= flags(viewing.countries) %></span>
  </div>
  <div class="times">
    <%= screening_times(viewing.screening) %>
    <%= '(press)' if viewing.press? %>
    <% if autoscheduler_debugging? && @subscription %>
      <% cost = @subscription.autoscheduler.costs[viewing.screening] %>
      <%= cost.total_cost.round(3) rescue 'nil' %>/<%= cost.cost_as_conflict.round(3) rescue 'nil' %>
    <% end %>
  </div>
<% end %>
