<%= div_for(viewing.screening, class: "unranked",
            'data-starts-at' => viewing.screening.starts_at.to_i,
            style: "height: #{viewing.height}px; " +
                   "margin-top: #{viewing.space_before}px") do %>
  <a name="s<%= viewing.screening.id %>"></a>
  <%= pick_symbols(viewing.film) %>
  <div class="title">
    <%= viewing.short_name %><%= " (#{viewing.screening.id})" if autoscheduler_debugging? %>
    <span class="flags"><%= flags(viewing.countries) %></span>
  </div>
  <div class="times">
    <%= screening_times(viewing.screening) %>
    <%= '(press)' if viewing.press? %>
    <% if my_schedule_on_phone? %>
      <span><span class="<%= my_schedule_visible_on_phone %>"> <%= viewing.venue_name %></span></span>
    <% end %>
    <% if autoscheduler_debugging? && @autoscheduler %>
      <% cost = @autoscheduler.costs[viewing.screening] %>
      <%= cost.total_cost.round(3) rescue 'nil' %>/<%= cost.cost_as_conflict.round(3) rescue 'nil' %>
    <% end %>
  </div>
<% end %>
