
<% if autoscheduler_debugging? && @subscription %>
  <%= simple_form_for([@festival, @subscription]) do |f| %>
    <%= f.hidden_field :unselect, value: 'none' %>
    <%= debug_menu %>
    stop at ID: <%= f.text_field :up_to_screening_id, width: 10 %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<div id="instructions">
  <% if user_signed_in? %>
    <%= render partial: 'instructions' %>
  <% else %>
    <p>
      Here's the festival schedule; if you sign in, you'll be able to click on
      the grid to schedule screenings.
    </p>
  <% end %>
</div>

<% if false #user_signed_in? %>
  <div id="showhide">
    <a href="#">Click here to <span>hide</span> the instructions</a>
    <%= image_tag 'fam3silk/information.png', alt: false, title: false,
                  height: 16, width: 16 %>
  </div>
<% end %>

<% cache ['festival', @festival, @show_press] do %>
  <div class="days" data-handler="Days">
    <%= render partial: "day", collection: days(@festival, press: @show_press) %>
  </div>

  <div id="as-of">
    <%= festival_revision_info(@festival) %>
  </div>

  <div id="screening-modal" class="modal hide" tabindex="-1"></div>
<% end %>

<%= render partial: 'picks/picks', object: @picks %>
