<% content_for :title do %>Schedule: <%= @festival.name %><% end %>
<%= show_hide_instructions_button %>
<h3>Your Festival Schedule</h3>

<% hidable_instructions do %>
  <% if user_signed_in? %>
    <div class="<%= my_schedule_hidden_on_phone %>">
      <%= render partial: 'instructions' %>
    </div>
    <% if my_schedule_on_phone? %>
      <div class="<%= my_schedule_visible_on_phone %>">
        <%= render partial: 'phone_instructions' %>
      </div>
    <% end %>
  <% else %>
    <p>
      Here's the festival schedule; if you sign in, you'll be able to click on
      the grid to schedule screenings.
    </p>
  <% end %>
<% end %>

<% if autoscheduler_debugging? && @subscription %>
  <%= simple_form_for([@festival, @subscription]) do |f| %>
    <%= f.hidden_field :unselect, value: 'none' %>
    <%= debug_menu %>
    stop at ID: <%= f.text_field :up_to_screening_id, width: 10 %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<% cache ['festival', @festival, @show_press, my_schedule_on_phone?] do %>
  <div class="days" data-handler="Days">
    <%= render partial: "day", collection: days(@festival, press: @show_press) %>
  </div>

  <div id="as-of">
    <%= festival_revision_info(@festival) %>
  </div>

  <div id="screening-modal" class="modal hide" tabindex="-1"></div>
<% end %>

<%= render partial: 'picks/picks', object: @picks %>
