<%= link_to 'New', new_admin_user_path, class: 'btn btn-small extra-action' %>
<% ['Name', 'Email', 'Activity'].each do |key| %>
  <%= link_to "By #{key}", admin_users_path(order: key.downcase),
              class: 'btn btn-small extra-action' %>
<% end %>

<% if params[:festival_id] %>
<h1><%= @festival.name %> <%= @festival.starts_on.year %> Fanatics</h1>
<% else %>
<h1>All Festival Fanatics</h1>
<% end %>

<table class="table table-condensed">
  <tr>
    <th>
      User
    </th>
    <th>
      Email
    </th>
    <th>
      Status
    </th>
  </tr>

  <%= render partial: "user", collection: user_presenters(@users, @order) %>
</table>


<h1>User email addresses</h1>
<p>
 <%= @users.map {|u| user_name_and_email(u) if u.mailable? }.join(', ') %>
</p>
