<h5>
  <%=raw image_tag("raty/star-on.png", height: 16, width: 16) * rating %>
  <%= pluralize(picks.count, 'film') %>:
</h5>

<ul id="rating_<%= rating %>">
  <% picks.sort_by {|p| p.film_sort_name }.each do |pick| %>
    <%= content_tag_for(:li, pick.film) do %>
      <%= film_catalog_link(pick.film, nil, @festival) %>
      <%= flags(pick.film_countries) %>
    <% end %>
  <% end %>
</ul>
