<%= simple_form_for(@screening.new_record? ? [:admin, @film, @screening] \
                                      : [:admin, @screening]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :venue_id, collection: @venues, autofocus: true %>
    <%= f.input :starts_at %>
    <%= f.input :press %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_link(admin_film_path(@film)) %>
    <%= destroy_button([:admin, @screening]) %>
  </div>
<% end %>

<% if !@screening.new_record? %>
  <p>
    <% if @users.any? %>
      <%= pluralize(@users.count, 'user has', 'users have') %>
      picked this screening:
      <%= @users.map(&:email).join(', ') %>
    <% else %>
      No users have picked this screening.
    <% end %>
  </p>
<% end %>
