<%= simple_form_for(@screening.new_record? ? [:admin, @film, @screening] \
                                      : [:admin, @screening]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :venue_id, collection: @venues, autofocus: true %>
    <%= f.input :starts_at, label: 'Starts', as: :string,
                input_html: { value: f.object.starts_at.strftime("%Y-%m-%d %H:%M"),
                              'data-handler' => 'ScreeningTimePicker' } %>
    <%= f.input :press if @festival.has_press? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= cancel_link(admin_film_path(@film)) %>
    <%= destroy_button([:admin, @screening]) %>
    <%= link_to('New Film (alt-n)', new_admin_festival_film_path(@festival),
                class: 'btn btn-sm btn-default extra-action', id: 'new_festival_film') \
          if @screening.new_record? %>
  </div>
<% end %>

<% if !@screening.new_record? %>
  <p>
    <% if @users.any? %>
      <%= pluralize(@users.count, 'user has', 'users have') %>
      picked this screening:
      <%= @users.map(&:email).join(', ') %>
    <% else %>
      No users have picked this screening.
    <% end %>
  </p>
<% end %>
