<%= simple_form_for(@location, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    &nbsp;
    <%= link_to "Cancel", locations_path %>
  </div>
<% end %>
