<%= content_tag_for(:li, location) do %>
  <h2>
    <%= location.name %>
    <span class="actions">
      <%= link_to 'Show', location %>
      <%= link_to 'Edit', edit_location_path(location) %>
      <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </h2>

  <ul>
    <%= render location.venues %>
    <li class="actions"><%= link_to 'New Venue', new_location_venue_path(location) %></li>
  </ul>
<% end %>
