<% minimal ||= false %>
<header id="topnav" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to root_path, class: :brand do %>
          Festival Fanatic
        <% end %>
        <ul class="nav">
          <% unless @hide_site_navigation_controls %>
            <% if user_signed_in? %>
              <% if current_user_is_admin? %>
                <li><%= link_to "Admin", admin_root_path,
                                class: (needs_admin_attention? && "attention") %></li>
              <% end %>
              <li><%= link_to "My Account", edit_user_registration_path %></li>
              <li id="sign_out"><%= link_to "Sign out", destroy_user_session_path %></li>
            <% else %>
              <li id="sign_up"><%= link_to "Sign up", new_user_registration_path %></li>
              <li id="sign_in"><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
