<% minimal ||= false %>
<nav id="topnav" class="navbar navbar-default navbar-inverse hidden-print" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= navbar_brand_link %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% unless @hide_site_navigation_controls %>
          <% if user_signed_in? && current_user_is_admin? %>
            <li><%= link_to "Admin", admin_root_path,
                            class: (needs_admin_attention? && "attention") %></li>
          <% end %>
          <li><%= link_to "Festivals", festivals_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Feedback", feedback_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "My Account", edit_user_registration_path %></li>
            <li id="sign_out"><%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
            <li id="sign_up"><%= link_to "Sign up", new_user_registration_path %></li>
            <li id="sign_in"><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
