<!doctype html>
<html lang="en"><!-- <%= SOURCE_REVISION_DETAILS + " #$$" %> -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Festival Fanatic" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag %>
    <%= webfont_link_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7187738-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
<body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %>">
  <div class="page-container">
    <%= render 'layouts/navigation' %>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row-fluid">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </div> <!--! end of .page-container -->
</body>
</html>
