<% content_for :festivals_admin_content do %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
          <%= link_in_list_to "Festival", edit_admin_festival_path(@festival) %>
          <%= link_in_list_to "Films", admin_festival_films_path(@festival) %>
          <%= link_in_list_to "Users", admin_festival_users_path(@festival) %>
          <%= link_in_list_to "Statistics", admin_festival_path(@festival) %>
        </ul>
      </div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>
<% end unless @festival.new_record? -%>
<%= render :file => 'layouts/festivals' %>
